.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  width: 173px;
  height: 33px;
  margin: 45px 0 41px 0;
}

@media screen and (max-width: 480px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin: 28px 0 32px 0;
  }
}
