.page {
  background-color: black;
  color: white;
}

.page__content {
  margin-left: 200px;
  margin-right: 200px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1112px) {
  .page__content {
    margin-left: 19px;
    margin-right: 19px;
  }
  
}